@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    font-family: Roboto;
}

body {
    background-color: lightgrey;
}

h2, p, .readme-wrapper {
    text-align: center;
}

a {
    text-decoration: none;
    color: teal;
}

a:hover {
    color: rgb(31, 192, 192);
    font-weight: bold;
    cursor: pointer;
}

span {
    font-weight: bold;
    color: tomato;
}

.boxes {
    margin: 5rem;
    padding: 3rem;
    border: solid 1rem tomato;
    border-radius: 2rem;
    width: 30em;
}

#box1 {
    background-color: wheat;
}

#box2 {
    background-color: rgb(117, 96, 57);
}

#box3 {
    background-color: rgb(202, 136, 14);
}

#box4 {
    background-color: rgb(114, 77, 7);
}

